#dragdropcont{
    display: none;
    position:fixed;
    pointer-events: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px 0px 50px 0px #5800e6;
    z-index: 5;
}
#dragdrop{
    width: 40%;
    height: 40%;
    background-color: var(--color2);
    outline: 10px solid var(--color2);
    border: 2px solid var(--color3);
    border-style: dashed;
    border-radius: 16px;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dragdropcont.show{
    display: flex;
}
.subscontainer{
    display: none;
    width: 100%;
    font-size: 1rem;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}
.subscontainer .sub{
    cursor: pointer;
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-content: space-around;
}
.subscontainer .sub .subLang{
    color: var(--color2);
}
.showFlex{
    display: flex;
}
div.selectedValue{
    background-color: rgba(255,255,255,.1);
}
div.show{
    display: block;
}
.hideControls{
    opacity: 0;
}
.hideCursor{
    cursor: none;
}
.chatInput.show{
    width: 300px;
    padding: 2px 10px;
    user-select: all;
    border-width: 1px;
}
.chatBut.sendBut path.chatArrow{
    d: path("M584 669 c-3 -6 19 -37 52 -70 l58 -59 -215 -2 c-182 -3 -214 -5 -214 -18 0 -13 32 -15 214 -18 l215 -2 -59 -60 c-47 -47 -57 -62 -47 -72 10 -10 30 5 95 70 l82 82 -80 80 c-44 44 -83 80 -87 80 -4 0 -10 -5 -14 -11z");
}